body{
	width: auto; 
	height:auto; 
	margin:0%; 
	background-color:# #aab7b8;
	background-image: url("bgimage.jpg");
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: contain;
	background-size: 100% 100%;
	}
	
#pagedisplay {width: 100%;height:100%;margin: auto;background-color:#fff8f8d4 ;overflow: auto;max-width: 1050px; max-height: auto;}
#pagedisplay2 {width: 100%;height: auto;margin: auto;overflow: auto;}
#content {overflow: auto;}
#display{margin: 1%;}
#nav, #feature, #footer {margin: 1%;}
.column1 {width: 28%;float: left;margin: 1%;}
.column2 {width: 28%;float: left;margin: 1%;}
.column3 {width: 39%;float: left;margin: 1%;}
.column3 {margin-right: 0%;}
.column2{margin-bottom: 0%;}
li {display: inline-block;padding: 0.4em;}
#nav {background-color:blue ;padding: 0em;}
/*#footer {background-color: ;padding: 10 10;}*/
#footer {position: fixed;left: 0;bottom: 0;width: 100%;background-color: ;padding: 0 0;color: white;text-align: center;}
#feature, .article {height: auto;margin-bottom: 1em; background-color:; margin-left:2em; margin-right:2em;}
#display{width: 99%;height:100%;}
#display_image{width: 60%;height:100%;}
.nav1, .nav2{width: 48%;float: left;margin: 1%;}
.nav2 {margin-right: 0%;}

.vspaceup{width: 100%; height: auto; margin:auto; }
.vspacedown{width: auto; height:40em; margin:auto; }
#tagline{  color: blue;font-family: Helvetica;font-size: 14px;}
#footer2 {margin:0em;}

/* menu options */
.column11, .column21, .column31 {width: 97%;float: left;margin: 1%;}
.column311 {width: 90%;float: left;margin:auto;}
.column311 {margin-right: 0%;}
#feature1, .article1 {height: 3.6em;margin-bottom: 1em;background-color:#e6f7ff ;margin-left:5%; margin-right:5%;}

.column112 {width: 100%;float: fixed; border-radius:0.2em; padding:0.1em;}
.column211 {width: 39%;float: left;}

/* display picture */
.column12{width:1%;float:left;margin:1%} .column22{width:92%;float:left; margin:1%}.column32{width:1%;float:left;margin:1%;margin-right:0%}
.article12 {height: 385px;margin-bottom: 0em;background-color: ;}

/* ypm write -up*/
.ypmt{margin-top:0.5em;margin-bottom:-1em;}
.ypm {margin-left:2%; margin-right:2%;margin-bottom:-0.5em;}
.ypm2{margin-left:1%; margin-right:1%;margin-bottom:-0.5em;}

/*ApplicationFormDisplay*/
.column13{width:.5%;float:left;margin:1%} .column23{width:94%;float:left;margin:1%}.column33{width:.5%;float:left;margin:1%;margin-right:0%}
.article131 {height: 65em;margin-bottom: 1em;background-color: ;}
.article132 {height: auto;margin-bottom: 1em;background-color: ;}
.article133 {height: 65em;margin-bottom: 1em;background-color: ;}
.column34 {width: 99%;float: left;margin: 1%;}
.column34 {margin-right: 0%;}
.article4 {height: 5em;margin-bottom: 1em;background-color: ;}

.header {height: 100%;width: 80%;padding-top: 20px;position: relative;margin: auto;}

/*horizontal Line*/
.hl { border-top: 1px solid black;height: 2px;width: 96%;float: left;margin: 1%;}
.hm { border-top: 1px solid black;height: 1px;width: 4%;position: relative;margin-top: 2em;margin-bottom: -2em;position: center;}

/* Table*/
table.standard-table {
	width:100%;
	border-collapse: separate;
	border-spacing: 1px;
	border:none;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	}
	
table.standard-table td:last-child {
	border-right: 0.2px solid #ddd;
	}
	
table.standard-table td {
	padding: 2px 5px;
	border: #e0e0e0 0.2px solid;
	border-top: none;
	border-right: none;
	font-family: cour;
	font-size: 90%;
	}
	
table.standard-table tr:hover td {background-color: #fafafa; }

/* Font style */
h1 {
	color: DodgerBlue;
	font-family: Georgia;
	font-size: 140%;
	}
	
h2 {
	color: black;
	font-family: courier;
	font-size: 120%;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	}
	
h3 {
	color: black;
	font-family: courier;
	font-size: 120%;
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	}
	
h4 {
	color: black;
	font-size: 110%;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	}
	
p {
	color: red;
	font-family: Gothic 821 Family;
	font-size: 120%;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	}

ul {list-style-type: none;margin:5px;padding:0px;overflow: hidden;background-color: #000;}
li {float: left;}
li a {color: white;text-align:center;padding: 0px 0px;text-decoration: none; border-radius: 0.0cm;font-weight:bold;}

/* Change the link color to gray on hover */
li a:hover {background-color: #dddd; color:Blue;}
h1:hover {background-color:; color:Green;}
h3:hover {background-color:; color:Blue;}
h4:hover {background-color:; color:none;}
p:hover {background-color:; color:deeppink;}

/* Slideshow container */
.slider-wrapper {width: 100%;height: 100%;position: relative;}
.slide {float: left;position: absolute;width: 100%;height: auto;opacity: 0;transition: opacity 3s linear;}
.slider-wrapper > .slide:first-child {opacity: 1;}

img {vertical-align:middle}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 70%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: background-color 2s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	}

/* Position the "next button" to the right */
.next {right: 0;border-radius: 3px 0 0 3px;}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}

/* Dropdown Button */
.dropbtn {background-color: #4CAF50;color: white;padding: 0px;font-size: 14px;border: none;}
ia {border: solid white;border-width: 0 3px 3px 0;display: inline-block;padding: 3.5px;}
.right {transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}

/* The container <div> - needed to position the dropdown content */
.dropdown {color: white;text-align:center;font-weight:bold;display:block;}
.dropdown-submenu {color: white;text-align:left;font-weight:bold;display:block;}
/*.dropdown-submenu .dropdown-menu {top: 0;left: 100%; margin-top: -1px;}
.dropdown:hover {background-color: ; color:DodgerBlue; font-weight:bold;}*/

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
/* 	display: none; */
/* 	position: absolute; */
	background-color: black;
	width: 8em;
	z-index: 1;
	}

.dropdown-content-submenu {
	display: none;
	position: absolute;
	background-color: none;
	width: auto;
	z-index: 1000;
	}
	
/* Links inside the dropdown */
.dropdown-content a {
/* 	color:skyblue; */
/* 	padding: 0px 10px; */
/* 	text-decoration: none; */
/* 	display: block; */
/* 	font-weight:bold;  */
/* 	text-align:left; */
/* 	cursor: pointer; */
	}

.dropdown-content-submenu a {
	color:skyblue;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	font-weight:bold;
	text-align:right;
	cursor: pointer;
	}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#dddd; color:auto; font-weight:bold;}
.dropdown-content-submenu a:hover {background-color:#dddd; color:auto; font-weight:bold;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.dropdown-submenu:hover .dropdown-content-submenu {display: block;position: relative;float: right;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.dropdown:hover {background-color: #ddd; color:blue; border-radius: 0.0cm;}
.dropdown-submenu:hover {background-color: #ddd; color:blue; border-radius: 0.0cm;}

ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {float: left;}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 0px 0px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: auto;
}

li.dropdown {
  display: inline-block;
}

ol {
  display: block;
  list-style-type: disc;
  overflow: hidden;
  margin-top: -0.5em;
  margin-bottom: -1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0px;
}

li1:hover{
  background-color: auto;
  font-family:;
  color:red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0.1,0.3);
  min-width: auto;
  box-shadow: 0px 1px 0px 1px;
  z-index: 10;
}

.dropdown-content a {
  color: white;
  padding: 4px 1px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: auto;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* for mobile view*/
@media only screen and (max-width:300px){.text{font-sixe:11px}}

@-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}

@keyframes fade {from {opacity: .4} to {opacity: 1}}