html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  margin: auto;
  background-color: #5e37ba71;
}
.body_page_display {
  width: 100%;
  height: auto;
  max-width: 1050px;
  background-color: #dec0e560;
  margin: auto;
  overflow: auto;
}
.div_slide_show_top {
  width: 95%;
  height: 400px;
  margin: auto;
}
.img_mySlides_top {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 7.5px;
  margin: auto;
}
.div_slide_show_bottom {
  width: 90%;
  margin: auto;
  height: 60px;
}
.div_demo_slide_bottom {
  width: 10%;
  float: left;
  height: 50px;
  background-color: #1b0808;
  border-radius: 25px;
  transition: transform 1.5s;
  margin-top: 10px;
}
.div_demo_slide_bottom:hover {
  transform: scale(1.25);
}
.img_demo_bottom {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin: auto;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.img_demo_bottom_opacity {
  opacity: 0.75;
}
.img_demo_bottom_opacity_off:hover {
  opacity: 1;
}
.div_manu {
  width: auto;
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
}
.ul_manu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4d85b6;
}
.li_manu {
  float: left;
}
li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
li a:hover {
  background-color: #5f2929;
}
em {
  font-style: normal;
  color: #9f2f2f;
}
em:hover {
  color: black;
}

.list_hover:hover {
  color: #ffffffd3;
  background-color: #47414167;
  width: 45%;
}
.div_introduction {
  width: auto;
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
}
.div_research_plan {
  width: auto;
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
}
.div_publications {
  width: auto;
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
}
p {
  margin-left: 10px;
  margin-right: 10px;
}
.para_text {
  text-align: justify;
  font-size: 20px;
  color: #1c171f;
}
.para_text:hover {
  color: #574203;
}
h1:hover {
  color: #92071c;
}

.div_education {
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}
h3 {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 22px;
}
.div_education:hover {
  color: #92071c;
}
.university_name {
  width: fit-content;
  text-align: justify;
  font-size: 18px;
  color: #1c052a6f;
}
.university_name:hover {
  color: #1c052a;
}
.degree_name {
  width: max-content;
  text-align: justify;
  font-size: 18px;
  color: #1c052a6f;
}
.degree_name:hover {
  color: #1c052a;
}
/* .table_row_educations { */
/* width: 20px; */
/* background-color: #a3aca288; */
/* } */
.table_row_educations:hover {
  background-color: #47414167;
}

.div_important_results {
  width: 1000px;
  margin-left: 25px;
  margin-right: 25px;
}
.row {
  width: 100%;
  height: 210px;
  margin: auto;
}
.column60 {
  float: left;
  height: 200px;
  width: 55%;
  text-align: center;
  text-align: justify;
  font-size: 20px;
  padding: 5px;
}
.column40 {
  float: right;
  width: 45%;
  height: 200px;
  text-align: center;
  text-align: justify;
  font-size: 20px;
  padding: 5px;
}
.result_images {
  object-fit: cover;
  border-radius: 5px;
  transition: transform 1.5s;
  margin: auto;
}
.result_images:hover {
  transform: scale(1.5);
}
.div_resluts_container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: rgb(204, 242, 15);
}
.myResults {
  display: none;
  background-color: rgb(255, 17, 0);
  object-fit: cover;
}
.img_center {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 50%;
}
.div_results {
  vertical-align: middle;
  max-height: 400px;
  max-width: 1000px;
  object-fit: cover;
  margin: auto;
}
.res_query {
  color: #1c052a6f;
  text-decoration: dotted;
  font-size: 18px;
  font-style: italic;
}
.res_query:hover {
  background-color: #47414167;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #5079e979;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #781616;
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.li_pubilication {
  /* background-color: whitesmoke; */
}
.li_pubilication:hover {
  font-weight: bold;
  background-color: #57420323;
}

/* -------------------------------------- */
.dropbtn {
  background-color: #4d85b6;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.div_dropdown {
  color: red;
  text-align: center;
  font-weight: bold;
  display: block;
}

.div_dropdown_content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 8em;
  z-index: 1;
  border-radius: 0.1cm;
}

.div_dropdown_content a:hover {
  background-color: yellowgreen;
  color: red;
  font-weight: bold;
  z-index: 10;
  border-radius: 0.2cm;
}

.div_dropdown:hover .div_dropdown_content {
  display: block;
}

.div_dropdown:hover .dropbtn {
  background-color: red;
}
/*-------------------------------------*/
